{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.email, 'Adresse mail') }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.identifiant, 'Identifiant') }}
        {{ form_widget(form.identifiant, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.password, 'Mot de passe') }}
        {{ form_widget(form.password, { 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.birthdate, 'Date de naissance') }}
        {{ form_widget(form.birthdate) }}
    </div>
    <div class="form-group">
        {{ form_label(form.firstname, 'Prénom') }}
        {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.lastname, 'Nom') }}
        {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
    </div>

    
    <button class="btn btn-lg btn-primary">{{ button_label|default("S'inscrire") }}</button>
{{ form_end(form) }}
